body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  text-align: center;
}

#searchInput {
  width: 80%;
  padding: 8px;
}

#searchButton {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#movieList {
  margin-top: 20px;
}

.movie {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #0056b3;
}

.rating-container {
  display: flex;
  align-items: center;
}

.rating-stars {
  font-size: 24px;
  color: gold;
  cursor: pointer;
}

/* .rating-stars::before {
  content: "\2605";
} */